.input-container{ 
    width: 95%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border: 0.2px solid silver;
}
.icon-input{ 
    color: silver;
}
.input-value{ 
    border: none;
    font-size: 16px;
    padding-left: 10px;
    width: 250px;
}
.input-value:focus{ 
    outline: none;
}