.left-single-blog {
  width: 60%;
  height: auto;
}

.single-blog-header {
  font-size: 30px;
  margin: 0px 0px 30px 0px;
}
.content-single-blog {
  padding: 0px 30px 30px 0px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
