.new-staff {
  display: flex;
  padding: 20px 0px 0px 20px;
  justify-content: space-between;
}

.right-staff,
.left-staff {
  width: 46%;
  padding: var(--padding--item);
  -webkit-box-shadow: var(--webkit);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--background);
}
.create-staff {
  font-weight: var(--font-weight);
  color: var(--color-header);
  padding-bottom: var(--padding--item);
}
#select-new {
  width: 100%;
}
